.navbar
{
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.navbar .navbar__container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.navbar .navbar__container .navbar__logo > a
{
    color: var(--primary-color);
    font-size: 26px;
    font-weight: bold;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 767px) {
    .navbar .navbar__container .navbar__logo
    {
        width: 100%;
    }

    .navbar .navbar__container .navbar__logo > a
    {
        height: 50px;
    }
}

.navbar .navbar__container > ul
{
    display: flex;
}

@media(max-width: 767px) {
    .navbar .navbar__container > ul
    {
        margin: auto;
    }
}

.navbar .navbar__container > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
}

@media(max-width: 767px) {
    .navbar .navbar__container > ul > li > a
    {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

.navbar .navbar__container > ul > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    top: 0;
    left: -100%;
    transition: var(--transition-duration);
}

.navbar .navbar__container > ul > li > a:hover
{
    color: var(--primary-color);
    background-color: #fafafa;
}

.navbar .navbar__container > ul > li > a:hover::before
{
    left: 0;
}