/* Start Team */
.team {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.team .box {
    position: relative;
}

.team .box::before,
.team .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--transition-duration)
}

.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}

.team .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}

.team .box:hover::after {
    width: calc(100% - 60px);
}

.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team .box .data img {
    width: calc(100% - 60px);
    transition: var(--transition-duration);
    border-radius: 10px;
}

.team .box:hover img {
    filter: grayscale(100%);
}

.team .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .box .data .social a:hover .icon {
    color: var(--primary-color);
}

.team .box .data .social .icon {
    color: #777;
    transition: var(--transition-duration)
}

.team .box .info {
    padding-left: 80px;
}

.team .box .info h3 {
    margin-bottom: 0;
    color: var(--primary-color);
    font-size: 22px;
    transition: var(--transition-duration);
}

.team .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
}

.team .box:hover .info h3 {
    color: #777;
}

/* End Team */